/* MENU-LEFT
-------------------------- */
/* layout */
section{
	clear:both;
	width:100%;
}
section.toggle{
	position:relative;
	clear:both;
	float:left;
	width:97%;
}
body.sticky-menu-active header {
    top: -40px;
}
label{
	margin-bottom:7px;
}
ul li{
	cursor:pointer;
	clear:both;
}
.toggle:first-child lable{
	cursor:pointer;
}
.siteWideMessage {
    background-color: #fffa9c;
    height: 22px;
    min-width: 1170px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.jqmWindow {
    background-color: #fff;
    border: 1px solid black;
    color: #333;
    display: none;
    left: 20%;
    padding: 12px;
    position: absolute;
    top: 12%;
    width: 808px;
}
.jqmWindow .img-thumbnail {
    border-color: #fff;
}
.jqmOverlay {
    background-color: #000;
}
* html .jqmWindow {
    position: absolute;
}
.jqmWindow .topBigBox {
    height: 480px;
}
.jqmWindow .topBigBox img {
    height: 470px;
}
.jqmWindow .topSmallBox {
    height: 195px;
    margin-top: 10px;
    width: 100%;
}
.jqmWindow .topSmallBox img {
    height: 185px;
    width: 100%;
}
.jqmWindow .descriptionBox {
}
.jqmWindow .descriptionBox .supplier {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
}
.jqmWindow .descriptionBox .description {
    color: #919191;
    padding-bottom: 20px;
}
.jqmWindow .descriptionBox .recommended {
}
.jqmWindow .descriptionBox .recommended span {
    color: #919191;
}
.jqmWindow .myclose {
    float: right;
}
.jqmWindow .pAarticleInfo {
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    padding-bottom: 5px;
}
.jqmWindow .pAarticleInfo span {
}
.jqmWindow .jHeader {
    margin-bottom: 20px;
}
input.jqmdX {
    height: 30px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 7px;
    top: 4px;
    width: 30px;
}
input.jqmdXFocus {
    background-position: left bottom;
    outline: medium none;
}
div.jqmdBC button, div.jqmdBC input[type="submit"] {
    background-color: #fff;
    color: #777;
    cursor: pointer;
    margin: 8px 10px 4px;
}
div.jqmDialog input:focus, div.jqmDialog input.iefocus {
    background-color: #eaffc3;
}


.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #16979d;
    color: #fff;
    font-weight: bold;
}
.pagination .btn-default {
    background-color: #e3e4e5;
    color: #000;
    font-weight: bold;
    width: 150px;
}
.pagination .btn-default:hover {
    background-color: #e3e4e5;
    color: #000;
    font-weight: bold;
}
.pagination .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #e3e4e5;
    color: #000;
    font-weight: bold;
}
.pagination .selectpickerDiv1 {
    float: right;
    margin-right: 10px;
    width: 150px;
}
.pagination .selectpickerDiv2 {
    float: right;
    padding-top: 7px;
    white-space: nowrap;
}
.optionsList {
}
.optionsList td {
    padding-top: 15px;
}
.overlay {
    height: 43px;
    margin-left: 80px;
    position: absolute;
    top: 180px;
    width: 92px;
    z-index: 99;
}
.overlay .plus {
    background-image: none;
    float: left;
    height: 26px;
    margin-top: 10px;
    width: 26px;
}
.overlay .plusOpen {
    background-image: url("/img/service/plus.png");
}
.overlay .lock {
    background-image: url("/img/service/lock.png");
    float: left;
    height: 43px;
    margin-left: 5px;
    width: 30px;
}
.overlay .open {
    background-image: none;
}
.overlay .minus {
    background-image: none;
    float: left;
    height: 26px;
    margin-left: 5px;
    margin-top: 10px;
    width: 26px;
}
.overlay .minusOpen {
    background-image: url("/img/service/minus.png");
}
.topBigBox {
    height: 480px;
    width: 100%;
}
.topBigBox img {
    height: 420px;
    width: 100%;
}
.topBigBox:hover .overlay .plus {
    background-image: url("/img/service/plus.png");
}
.topBigBox:hover .overlay .open {
    background-image: url("/img/service/unlock.png");
}
.topBigBox:hover .overlay .minus {
    background-image: url("/img/service/minus.png");
}
.topMediumBox {
    height: 275px;
    width: 100%;
}
.topMediumBox img {
    height: 216px;
    width: 100%;
}
.topMediumBox:hover .overlay .plus {
    background-image: url("/img/service/plus.png");
}
.topMediumBox:hover .overlay .open {
    background-image: url("/img/service/unlock.png");
}
.topMediumBox:hover .overlay .minus {
    background-image: url("/img/service/minus.png");
}
.topSmallBox {
    height: 195px;
    margin-top: 10px;
    width: 100%;
}
.topSmallBox img {
    height: 136px;
    width: 100%;
}
.topSmallBox:hover .overlay .plus {
    background-image: url("/img/service/plus.png");
}
.topSmallBox:hover .overlay .open {
    background-image: url("/img/service/unlock.png");
}
.topSmallBox:hover .overlay .minus {
    background-image: url("/img/service/minus.png");
}
.topMediumBox .overlay {
    top: 85px;
}
.topSmallBox .overlay {
    top: 45px;
}
.topWorkingArea {
}
.topWorkingArea .img-thumbnail {
    border-color: #fff;
}
.topWorkingArea .img-thumbnail:hover {
    border-color: #dddddd;
}
.topWorkingArea .actions .socialmedia {
    background: url("/img/service/socialmedia.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 27px;
    margin-left: 5px;
    width: 27px;
}
.topWorkingArea .actions .arrows {
    background: url("/img/service/arrows.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 27px;
    margin-left: 5px;
    width: 27px;
}
.topWorkingArea .actions .refresh {
    background: url("/img/service/refresh.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 27px;
    margin-left: 5px;
    width: 35px;
}
.topWorkingArea .actions .save {
    background: url("/img/service/save.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;

    height: 27px;
    margin-left: 5px;
    width: 27px;
}
.articleInfo {
    width: 100%;
}
.articleInfo .article {
    float: left;
    width: 65%;
}
.articleInfo .article div {
    font-size: 14px;
    width: 100%;
}
.articleInfo .links {
    float: right;
    margin-top: 15px;
    width: 35%;
}
.articleInfo .links div {
    float: right;
    height: 20px;
    margin-left: 5px;
}
.articleInfo .links .socailmedia {
    background: url("/img/service/socialmedia.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 20px;
}
.articleInfo .links .dontknow {
    background: url("/img/service/dontknow.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 23px;
}
.aciTree .aciTreeText{
	font-family:Open Sans;
}
.articleInfo .links .search {
    background: url("/img/service/search.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 21px;
}
.productsBox .overlay {
    margin-left: 70px;
    top: 90px;
}
.productsBox .overlay .plus {
    background-image: none;
}
.productsBox .overlay .minus {
    background-image: none;
}
.bottomWorkingArea .img-thumbnail {
    border-color: #fff;
}
.bottomWorkingArea .img-thumbnail:hover {
    border-color: #dddddd;
}
.bottomWorkingArea .productsBox .overlay .open {
    background-image: none;
    float: left;
    height: 43px;
    margin-left: 5px;
    width: 30px;
}
.bottomWorkingArea .productsBox:hover .overlay .open {
    background-image: url("/img/service/unlock.png");
    float: left;
    height: 43px;
    margin-left: 5px;
    width: 30px;
}
.productsBox .articleInfo .links {
    margin-top: 10px;
}
.productsBox .articleInfo .links div {
    height: 14px;
    margin-left: 5px;
}
.productsBox .articleInfo .links .socailmedia {
    background-size: auto 14px;
    width: 14px;
}
.productsBox .articleInfo .links .search {
    background-size: auto 14px;
    width: 15px;
}
.form-control-01 {
    font-size: 14px !important;
    height: 30px !important;
	border-right:none;
    padding: 2px 2px 2px 6px !important;
	box-shadow:none;
}
.pageTitle {
    text-align: center;
    width: 100%;
}
.left {
    float: left;
    width: 350px;
}
.center {
    display: inline-block;
    margin: 0 auto;
    width: 250px;
}
.right {
    float: right;
    margin-top: 35px;
    width: 370px;
}
.right .input-group {
    float: right;
    width: 200px;
}
.right .venueBox {
    float: right;
    margin-left: 5px;
    width: 120px;
}
.right .venueBox .dropdown-menu > li > a {
    text-align: left;
}
section.toggle {
    margin-top: 0;
}
section.toggle input {
    height: auto;
    margin: 0;
    opacity: 1;
    position: static;
    width: auto;
}
section.toggle label {
	-moz-border-radius: 8px;
	-moz-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	-webkit-border-radius: 8px;
	-webkit-transition: all .15s ease-out;
	background: #F4F4F4;
	border: 1px solid #F4F4F4;
	border-left: 3px solid #CCC;
	border-radius: 8px;
	color: #CCC;
	display: block;
	font-size: 1.1em;
	min-height: 20px;
	padding: 12px 20px 12px 10px;
	position: relative;
	cursor: pointer;
	font-weight: 400;
	transition: all .15s ease-out;
}
section.toggle label {
    border: medium none;
    color: #444;
    padding: 3px 20px 3px 0px;
	background:none;
	font-size:14px;
	line-height:22px;
	font-family:Open Sans !important;
	font-weight:600;
	width:100%;
	
}
 a.ui-slider-handle.ui-state-default.ui-corner-all.ui-state-hover#{
	text-decoration:none;
}
section.toggle.active {
    background:none !important;
    border:none !important;
	width:97%;
}
li.active .aciTreeText{
	font-weight:bold;
}
li.active{
	font-weight:bold;
}

input[type=checkbox]:checked + label {
  font-style: bold;
}
input[type=checkbox]:checked + label {
  font-style: bold;
}
section.toggle.active > label {
    background:none !important;
    border:none !important;
	font-weight:bold;
}
section.toggle .toggle-content {
    white-space: nowrap;
}
section.toggle .toggle-content .aciTree label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.brandSelection > li {
    overflow: hidden;
	font-size:13px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.aciTree .aciTreeLine.aciTreeHover .aciTreeItem {
	font-weight:bold;
}
section.toggle .toggle-content .aciTree label:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.bigShare {
    background: url("/img/engine/bigicons.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 57px;
    margin-left: 18px;
    width: 36px;
}
.bigLock {
    background: url("/img/engine/bigicons.jpg") repeat scroll -54px 0 rgba(0, 0, 0, 0);
    float: left;
    height: 57px;
    margin-left: 18px;
    width: 38px;
}
.bigPlus {
    background: url("/img/engine/bigicons.jpg") repeat scroll -112px 0 rgba(0, 0, 0, 0);
    float: left;
    height: 57px;
    margin-left: 18px;
    width: 36px;
}
.bigSave {
    background: url("/img/engine/bigicons.jpg") repeat scroll -168px 0 rgba(0, 0, 0, 0);
    float: left;
    height: 57px;
    margin-left: 18px;
    width: 41px;
}

.bigShare:hover {
    background-position: 0 57px;
}
.bigLock:hover {
    background-position: -54px 61px;
}
.bigPlus:hover {
    background-position: -112px 59px;
}
.bigSave:hover {
    background-position: -168px 59px;
}
.btn-default .caret {
    border-top-color: #ffffff;
}


.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{
	padding-top:0px;
}
.control-label-01{
	padding:0;
}
section.toggle #slider label:hover{
	background:none;
	text-decoration:none;
}
section.toggle #slider2 label:hover{
	background:none;
	text-decoration:none;
}
/*=======================================edit====*/
.sale-option-checkbox {
    border: 1px solid #e4e4e4;
    border-radius: 100px;
    display: inline-block;
    height: 15px;
    margin-bottom: -2px;
    margin-right: 2px;
    margin-top: 2px;
    width: 15px;
}
.sale-option-checkbox .selected{
	background:#16979d;
}
li a{
	color:#666;
	text-decoration:none;
}
li a:hover .sale-option-checkbox{
	background:#16979d;
	text-decoration:none;
}
li a:hover{
	text-decoration:none;
	color:#333;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
    src: url('../fonts/helveticaneuecondensedbold.otf') format('embedded-opentype'),

}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/OpenSans-LightItalic.ttf');
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon:empty {
  width: 1em;
}

.glyphicon-asterisk:before {
  content: "\2a";
}

.glyphicon-plus:before {
  content: "\2b";
}

.glyphicon-euro:before {
  content: "\20ac";
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-cloud:before {
  content: "\2601";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-glass:before {
  content: "\e001";
}

.glyphicon-music:before {
  content: "\e002";
}

.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-heart:before {
  content: "\e005";
}

.glyphicon-star:before {
  content: "\e006";
}

.glyphicon-star-empty:before {
  content: "\e007";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-film:before {
  content: "\e009";
}

.glyphicon-th-large:before {
  content: "\e010";
}

.glyphicon-th:before {
  content: "\e011";
}

.glyphicon-th-list:before {
  content: "\e012";
}

.glyphicon-ok:before {
  content: "\e013";
}

.glyphicon-remove:before {
  content: "\e014";
}

.glyphicon-zoom-in:before {
  content: "\e015";
}

.glyphicon-zoom-out:before {
  content: "\e016";
}

.glyphicon-off:before {
  content: "\e017";
}

.glyphicon-signal:before {
  content: "\e018";
}

.glyphicon-cog:before {
  content: "\e019";
}

.glyphicon-trash:before {
  content: "\e020";
}

.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-file:before {
  content: "\e022";
}

.glyphicon-time:before {
  content: "\e023";
}

.glyphicon-road:before {
  content: "\e024";
}

.glyphicon-download-alt:before {
  content: "\e025";
}

.glyphicon-download:before {
  content: "\e026";
}

.glyphicon-upload:before {
  content: "\e027";
}

.glyphicon-inbox:before {
  content: "\e028";
}

.glyphicon-play-circle:before {
  content: "\e029";
}

.glyphicon-repeat:before {
  content: "\e030";
}

.glyphicon-refresh:before {
  content: "\e031";
}

.glyphicon-list-alt:before {
  content: "\e032";
}

.glyphicon-lock:before {
  content: "\e033";
}

.glyphicon-flag:before {
  content: "\e034";
}

.glyphicon-headphones:before {
  content: "\e035";
}

.glyphicon-volume-off:before {
  content: "\e036";
}

.glyphicon-volume-down:before {
  content: "\e037";
}

.glyphicon-volume-up:before {
  content: "\e038";
}

.glyphicon-qrcode:before {
  content: "\e039";
}

.glyphicon-barcode:before {
  content: "\e040";
}

.glyphicon-tag:before {
  content: "\e041";
}

.glyphicon-tags:before {
  content: "\e042";
}

.glyphicon-book:before {
  content: "\e043";
}

.glyphicon-bookmark:before {
  content: "\e044";
}

.glyphicon-print:before {
  content: "\e045";
}

.glyphicon-camera:before {
  content: "\e046";
}

.glyphicon-font:before {
  content: "\e047";
}

.glyphicon-bold:before {
  content: "\e048";
}

.glyphicon-italic:before {
  content: "\e049";
}

.glyphicon-text-height:before {
  content: "\e050";
}

.glyphicon-text-width:before {
  content: "\e051";
}

.glyphicon-align-left:before {
  content: "\e052";
}

.glyphicon-align-center:before {
  content: "\e053";
}

.glyphicon-align-right:before {
  content: "\e054";
}

.glyphicon-align-justify:before {
  content: "\e055";
}

.glyphicon-list:before {
  content: "\e056";
}

.glyphicon-indent-left:before {
  content: "\e057";
}

.glyphicon-indent-right:before {
  content: "\e058";
}

.glyphicon-facetime-video:before {
  content: "\e059";
}

.glyphicon-picture:before {
  content: "\e060";
}

.glyphicon-map-marker:before {
  content: "\e062";
}

.glyphicon-adjust:before {
  content: "\e063";
}

.glyphicon-tint:before {
  content: "\e064";
}

.glyphicon-edit:before {
  content: "\e065";
}

.glyphicon-share:before {
  content: "\e066";
}

.glyphicon-check:before {
  content: "\e067";
}

.glyphicon-move:before {
  content: "\e068";
}

.glyphicon-step-backward:before {
  content: "\e069";
}

.glyphicon-fast-backward:before {
  content: "\e070";
}

.glyphicon-backward:before {
  content: "\e071";
}

.glyphicon-play:before {
  content: "\e072";
}

.glyphicon-pause:before {
  content: "\e073";
}

.glyphicon-stop:before {
  content: "\e074";
}

.glyphicon-forward:before {
  content: "\e075";
}

.glyphicon-fast-forward:before {
  content: "\e076";
}

.glyphicon-step-forward:before {
  content: "\e077";
}

.glyphicon-eject:before {
  content: "\e078";
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.glyphicon-plus-sign:before {
  content: "\e081";
}

.glyphicon-minus-sign:before {
  content: "\e082";
}

.glyphicon-remove-sign:before {
  content: "\e083";
}

.glyphicon-ok-sign:before {
  content: "\e084";
}

.glyphicon-question-sign:before {
  content: "\e085";
}

.glyphicon-info-sign:before {
  content: "\e086";
}

.glyphicon-screenshot:before {
  content: "\e087";
}

.glyphicon-remove-circle:before {
  content: "\e088";
}

.glyphicon-ok-circle:before {
  content: "\e089";
}

.glyphicon-ban-circle:before {
  content: "\e090";
}

.glyphicon-arrow-left:before {
  content: "\e091";
}

.glyphicon-arrow-right:before {
  content: "\e092";
}

.glyphicon-arrow-up:before {
  content: "\e093";
}

.glyphicon-arrow-down:before {
  content: "\e094";
}

.glyphicon-share-alt:before {
  content: "\e095";
}

.glyphicon-resize-full:before {
  content: "\e096";
}

.glyphicon-resize-small:before {
  content: "\e097";
}

.glyphicon-exclamation-sign:before {
  content: "\e101";
}

.glyphicon-gift:before {
  content: "\e102";
}

.glyphicon-leaf:before {
  content: "\e103";
}

.glyphicon-fire:before {
  content: "\e104";
}

.glyphicon-eye-open:before {
  content: "\e105";
}

.glyphicon-eye-close:before {
  content: "\e106";
}

.glyphicon-warning-sign:before {
  content: "\e107";
}

.glyphicon-plane:before {
  content: "\e108";
}

.glyphicon-calendar:before {
  content: "\e109";
}

.glyphicon-random:before {
  content: "\e110";
}

.glyphicon-comment:before {
  content: "\e111";
}

.glyphicon-magnet:before {
  content: "\e112";
}

.glyphicon-chevron-up:before {
  content: "\e113";
}

.glyphicon-chevron-down:before {
  content: "\e114";
}

.glyphicon-retweet:before {
  content: "\e115";
}

.glyphicon-shopping-cart:before {
  content: "\e116";
}

.glyphicon-folder-close:before {
  content: "\e117";
}

.glyphicon-folder-open:before {
  content: "\e118";
}

.glyphicon-resize-vertical:before {
  content: "\e119";
}

.glyphicon-resize-horizontal:before {
  content: "\e120";
}

.glyphicon-hdd:before {
  content: "\e121";
}

.glyphicon-bullhorn:before {
  content: "\e122";
}

.glyphicon-bell:before {
  content: "\e123";
}

.glyphicon-certificate:before {
  content: "\e124";
}

.glyphicon-thumbs-up:before {
  content: "\e125";
}

.glyphicon-thumbs-down:before {
  content: "\e126";
}

.glyphicon-hand-right:before {
  content: "\e127";
}

.glyphicon-hand-left:before {
  content: "\e128";
}

.glyphicon-hand-up:before {
  content: "\e129";
}

.glyphicon-hand-down:before {
  content: "\e130";
}

.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

.glyphicon-globe:before {
  content: "\e135";
}

.glyphicon-wrench:before {
  content: "\e136";
}

.glyphicon-tasks:before {
  content: "\e137";
}

.glyphicon-filter:before {
  content: "\e138";
}

.glyphicon-briefcase:before {
  content: "\e139";
}

.glyphicon-fullscreen:before {
  content: "\e140";
}

.glyphicon-dashboard:before {
  content: "\e141";
}

.glyphicon-paperclip:before {
  content: "\e142";
}

.glyphicon-heart-empty:before {
  content: "\e143";
}

.glyphicon-link:before {
  content: "\e144";
}

.glyphicon-phone:before {
  content: "\e145";
}

.glyphicon-pushpin:before {
  content: "\e146";
}

.glyphicon-usd:before {
  content: "\e148";
}

.glyphicon-gbp:before {
  content: "\e149";
}

.glyphicon-sort:before {
  content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

.glyphicon-sort-by-order:before {
  content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

.glyphicon-unchecked:before {
  content: "\e157";
}

.glyphicon-expand:before {
  content: "\e158";
}

.glyphicon-collapse-down:before {
  content: "\e159";
}

.glyphicon-collapse-up:before {
  content: "\e160";
}

.glyphicon-log-in:before {
  content: "\e161";
}

.glyphicon-flash:before {
  content: "\e162";
}

.glyphicon-log-out:before {
  content: "\e163";
}

.glyphicon-new-window:before {
  content: "\e164";
}

.glyphicon-record:before {
  content: "\e165";
}

.glyphicon-save:before {
  content: "\e166";
}

.glyphicon-open:before {
  content: "\e167";
}

.glyphicon-saved:before {
  content: "\e168";
}

.glyphicon-import:before {
  content: "\e169";
}

.glyphicon-export:before {
  content: "\e170";
}

.glyphicon-send:before {
  content: "\e171";
}

.glyphicon-floppy-disk:before {
  content: "\e172";
}

.glyphicon-floppy-saved:before {
  content: "\e173";
}

.glyphicon-floppy-remove:before {
  content: "\e174";
}

.glyphicon-floppy-save:before {
  content: "\e175";
}

.glyphicon-floppy-open:before {
  content: "\e176";
}

.glyphicon-credit-card:before {
  content: "\e177";
}

.glyphicon-transfer:before {
  content: "\e178";
}

.glyphicon-cutlery:before {
  content: "\e179";
}

.glyphicon-header:before {
  content: "\e180";
}

.glyphicon-compressed:before {
  content: "\e181";
}

.glyphicon-earphone:before {
  content: "\e182";
}

.glyphicon-phone-alt:before {
  content: "\e183";
}

.glyphicon-tower:before {
  content: "\e184";
}

.glyphicon-stats:before {
  content: "\e185";
}

.glyphicon-sd-video:before {
  content: "\e186";
}

.glyphicon-hd-video:before {
  content: "\e187";
}

.glyphicon-subtitles:before {
  content: "\e188";
}

.glyphicon-sound-stereo:before {
  content: "\e189";
}

.glyphicon-sound-dolby:before {
  content: "\e190";
}

.glyphicon-sound-5-1:before {
  content: "\e191";
}

.glyphicon-sound-6-1:before {
  content: "\e192";
}

.glyphicon-sound-7-1:before {
  content: "\e193";
}

.glyphicon-copyright-mark:before {
  content: "\e194";
}

.glyphicon-registration-mark:before {
  content: "\e195";
}

.glyphicon-cloud-download:before {
  content: "\e197";
}

.glyphicon-cloud-upload:before {
  content: "\e198";
}

.glyphicon-tree-conifer:before {
  content: "\e199";
}

.glyphicon-tree-deciduous:before {
  content: "\e200";
}


/*@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
.font-bold > aciTreeLine > aciTreeBranch > aciTreeEntry > aciTreeItem > aciTreeText{
	font-weight:bold;
}

ul{
	list-style:none;
}
.toggle-content ul:first-child{
	padding-left:15px !important;
}
.left-panal{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.25);
    color: #444444;
    font-size: 14px;
    z-index: 4;
	padding-top:15px;
}


.toggle-content ul li{
	font-weight:600 !important;
}
.toggle-content ul li li{
	font-weight:300 !important;
}
.btn-01 {
  display: inline-block;
  padding: 0px 0px;
  width:22px;
  height:22px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
		  margin:1px;
}
.btn-coloer-01{
	/*background:#f80000;*/
    box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-02{
	background:#ffd800;
    box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
}
.btn-coloer-03{
	background:#784a01;
    box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
}
.btn-coloer-04{
	background:#8700bf;
    box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
}
.btn-coloer-05{
	background:#e6e6e6;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-06{
	background:#282828;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-07{
	background:#ffffff;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-08{
	background:#f1cb72;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-09{
	background:#fc4ac8;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-10{
	background:#0d4cdc;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-11{
	background:#368600;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-12{
	background:#01d9e6;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
		
.btn-coloer-13{
	background:#ffd4dc;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-14{
	background:#ba2f2f;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.btn-coloer-15{
	background:#1f1fff;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.25);
	}
.ok-white{
	/*background:url(../img/ok-white.png) no-repeat center; */
	overflow:hidden;
	width:20px;
	height:20px;
	display:none;
}
.ok-black{
	background:url(../img/ok-black.png) no-repeat center;
	overflow:hidden;
	width:20px;
	height:20px;
	display:none;
}
section.toggle #slider label:before{
	content:none;
	text-decoration:none;
}
section.toggle #slider2 label:before{
	content:none;
}
#slider a:hover{
	background:none;
}
#slider2 a:hover{
	background:none;
}
.btn-01.active .ok-white{
	display:block;
}
.btn-01.active .ok-black{
	display:block;
}
.btn-default-01 {
    background-color: #16979d;
    color: #fff;
    font-weight: bold;
	font-size:14px;
	padding:4px 10px;
}
.btn-default:hover {
    background-color: #16979d;
    color: #fff;
    font-weight: bold;
}
input-group-02{
	color:#444;
	font-weight:700;
}

.glyphicon-search:before {
  content: "\e003";
}
.ui-state-default, .ui-widget-content .ui-state-default lable{
	color:#fff !important;
}
	
	
		/*=======================================edit====*/

.price-box {
    margin: 0 auto;
	background: #E9E9E9;
	margin-top:20px;
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #dcf0f0;
	color: #222222;
	margin-top: 0px;
	height:8px;
}
.ui-slider-handle.ui-state-default.ui-corner-all > label{
	color: #5e5e5e !important;
    left: -28px;
    position: absolute;
    top: -24px;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 3.4em;
	height: 2.0em;
	cursor: default;
	margin: 0 -30px auto !important;
	text-align: center;	
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
	text-decoration:none;
}
.ui-slider .ui-slider-handle lable{
	color:#fff;
}

.ui-slider .ui-slider-handle .glyphicon {
	color: #FFFFFF;
	margin: 0 3px; 
	font-size: 11px;
	opacity: 0.5;
}

.ui-corner-all {
	border-radius: 4px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #1da4aa !important;
	background: #16979d !important;
	box-shadow:none;
	margin: 10px -5px auto !important;
	box-shadow:none;
	width:16px;
	height:16px;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

.price, .lead p {
	font-weight: 600;
	font-size: 14px;
	display: inline-block;
	margin:0;
}
.ui-slider-range.ui-widget-header.ui-corner-all{
	border:none;
}
.sliderSteps-01 {
    background-image: url("/img/step_bars.jpg");
    background-position: -1px center;
    height: 7px;
    margin: 5px 0;
}

h4.great {
	background: #00ac98;
	margin: 0 0 25px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
	border-bottom: 1px solid #7f8c8d;
	/*display: inline;
	padding: 10px 5px;*/
	position: relative;
	padding-bottom: 20px;
}

.total:before {
	content: "";
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 3px;
	background: #7f8c8d;
	opacity: 0.5;
}

.price-slider {
	margin-bottom: 30px;
}

.price-slider span {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 13px;
}

.form-pricing {
	background: #ffffff;
	padding: 5px;
	border-radius: 4px;
}

.price-form {
	background: #ffffff;
	margin-bottom: 2px;
	padding: 1px;
	border:none;
	border-radius: 4px;
	float:left;
	/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  	-webkit-box-shadow: 0 5px 5px 0 #ccc;
  	box-shadow:         0 5px 5px 0 #ccc;*/
}
.price-form-01{
	display:none;
}
.price-form-02{
	display:none;
}
.top-section{
	margin-bottom:15px;
}
.col-sm-6-01{
	padding:0 5px;
	text-align:right;
}
.col-sm-6-02{
	padding:3px 5px;
	background:#ccc;
	border-radius:6px;
	width:auto;
}
.price-01{
	position:relative;
	top:-6px;
	margin-right:5px;
	font-size:16px;	
	cursor:pointer;
}
.price-02{
	position:relative;
	top:-6px;
	margin-right:5px;
	font-size:16px;	
	cursor:pointer;
}

.form-group {
	margin-bottom: 0;
}
.form-group-01{
	background:#ccc;
	padding:3px 5px;
	border-radius:6px;
}

.form-group span.price {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 14px;
}

.help-text {
	display: block;
	margin-top: 32px;
	margin-bottom: 10px;
	color: #737373;
	position: absolute;
	/*margin-left: 20px;*/
	font-weight: 200;
	text-align: right;
	width: 188px;
}

.price-form label {
	font-weight: 200;
	font-size: 14px;
}
.col-sm-padding{
	padding:0;
}
.price-min-max{
	position:relative;
	margin-top:-15px;
	background-image: url("/img/step_bars.jpg");
	height: 8px;
    margin-top: -24px;
}
img.payment {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
	background: #2980b9;
}

/* HR */

hr.style {
	margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

/*============productsBox-bottom ========*/

/*.productsBox-bottom	{
	position:absolute;
	bottom:0;
	width:100%;
}*/
.top-heading-01 {
    margin-bottom: 25px;
    margin-top: 60px;
    text-align: center;
}
.top-heading-02{
	text-align:center;
	margin-bottom:40px;
}
.col-md-12.top-heading-02 > h3 {
    background: none repeat scroll 0 0 #fff;
    font-size: 16px;
    left: 45%;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: -17px;
	margin:0;
	color:#5e5e5e;
}
.col-md-12.top-heading-01 > h2 {
    color: #49484c;
    font-family: open sans;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
	margin:0;
	text-transform:uppercase;
}
hr{
	background:#ccc;
}
.btn-02 {
  display: inline-block;
  padding: 0px 0px;
  width:22px;
  height:22px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
		  margin:1px;
}
.btn-02{
	background:none;
	border:none;
	color:#fff;
	font-size:24px;
}
.btn-02:hover{
	color:#fff;
}
.btn-02 a{
	font-size:24px;
	color:#fff;
	background:rgba(255, 255, 255, 0.5);
}
.overlay-02{
	position:absolute;
	top:30%;
	left:35%;
	display:none;
}


.thumb-info{
	padding:4px;
}
.bottomWorkingArea .img-thumbnail{
	border:1px solid #ddd !important;
	margin-bottom:10px;
}
.img-thumbnail{
	padding:0;
	border:1px solid #ddd;
}
.col-xs-6-01{
	background:#333; 
	border-left:none;
	border-right:#222 solid 1px;
	text-align:center;
}
.col-xs-6-02{
	
	background:#333; 
	border-right:none;
	border-left:#444 solid 1px;
	text-align:center;
}
.col-xs-6-01 a{
	color:#fff;
}

.col-xs-6-02 a{
	color:#fff;
}
.col-xs-6-02 a:hover{
	color:#1a9a9f;
}
.col-xs-6-01 a:hover{
	color:#1a9a9f;
}
.row-01{
	width:100%;
	position:relative;
	overflow:hidden;
}
.row-02{
	width:100%;
	position:relative;
	overflow:hidden;
}
.row-02 h3{
	padding-left:10px;
	margin:0;
	margin-top:15px;
	font-family:'Open Sans';
	margin-bottom:0px;
	font-size:14px;
	font-weight:600;
	text-transform:capitalize;
	color:#222;
}
.row-02 p{
	padding-left:10px;
	margin:0;
	margin-bottom:20px;
	font-family:'Open Sans';
	color:#16979d;
	font-weight:600;
	font-size:14px;
	line-height:14px;
}
.overlay-01{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:#0082b4;
	text-align:center;
	z-index:90;
	cursor:pointer;
}
.overlay-01 h2 {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0;
    padding: 8px 0;
    text-align: center;
}
.overlay-cercul {
    background: none repeat scroll 0 0 #16979d;
    border-radius: 100%;
    height: 44px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -8px;
    width: 44px;
    z-index: 91;
}
a.thumb-info:hover{
	background:#000;
}
.font-bold{
	font-weight:bold;
}

a.thumb-info img {
    position: relative;
    transition: all 0.2s linear 0s;
}
a.thumb-info:hover img {
    position: relative;
    transition: none;
	opacity:0.5;
	transition:all none;
}
.cercul-01 {
    background: none repeat scroll 0 0 #16979d;
    border-radius: 100%;
}
.cercul-01 h2 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
	line-height:40px;
}