@font-face {
	font-family: MyriadPro-Regular;
	src: url(../fonts/MyriadPro-Regular.otf);
}
/*==== style chung ===*/
.fr {
    float: right !important;
}	
.clr {
    clear: both;
}
.next1 {
	width: 167px;
    line-height: 41px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 2px solid #214666;
    margin-bottom: 22px;
    margin-top: 50px;
    cursor: pointer;
    color: #fefefe;
    a{
    	color:#fff;
    }
}
.italic-box {
    font-size: 15px;
    color: #040707;
    margin-bottom: 70px;
    &:hover{
	    color: #898697;
		text-decoration: underline;
    }
    i{
    	font-weight: 300;
    }
}
.form-group{
	.list-inline {
		padding-left: 30px;
		text-align: center;
	    list-style: none;
	    li{
	    	padding-top: 10px;
	    	padding-bottom: 5px;
	    	float: none;
	    	width: auto;
	    	border-bottom: 0;
			display: inline-block;
			padding-right: 5px;
			padding-left: 5px;
			.radio-find-stitch {
			    margin-top: 0;
			    
			}
			.radio {
			    padding-left: 15px;
			    input[type="radio"] {
				    opacity: 0;
				    z-index: 1;
				}
				input[type="radio"]:disabled + label {
					//opacity: 0.65;
				}
				input[type="radio"]:checked + label{
					&:after {
					    -webkit-transform: scale(1, 1);
					    -ms-transform: scale(1, 1);
					    -o-transform: scale(1, 1);
					    transform: scale(1, 1);
					}
				}
				label {
				    display: inline-block;
				    vertical-align: middle;
				    position: relative;
				    padding-left: 5px;
				    &:before{
				    	content: "";
					    display: inline-block;
					    position: absolute;
					    width: 14px;
					    height: 14px;
					    left: 0;
					    margin-left: -20px;
					    border: 1px solid #444444;
					    border-radius: 50%;
					    background-color: #fff;
					    -webkit-transition: border 0.15s ease-in-out;
					    -o-transition: border 0.15s ease-in-out;
					    transition: border 0.15s ease-in-out;
					}
				    &:after{
			    	    display: inline-block;
					    position: absolute;
					    content: " ";
					    width: 8px;
					    height: 8px;
					    left: 3px;
					    top: 3px;
					    margin-left: -20px;
					    border-radius: 50%;
					    background-color: #444444;
					    -webkit-transform: scale(0, 0);
					    -ms-transform: scale(0, 0);
					    -o-transform: scale(0, 0);
					    transform: scale(0, 0);
					    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
					    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
					    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
					    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);

				    }
				}
			}
	    }

	}
	.list-radio-find-stitch {
		label{
			&:before {
			    width: 12px;
			    height: 12px;
			}
		}
	}
}
.brand-box {
	ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    li{
		    	text-align: center;
		    	float: left;
			    padding: 50px 0px 18px 0px;
			    border-bottom: 3px solid #d5d8da;
			    a{
			    	color: #c4c8ca;
					font-size: 14px;
					&:active{

					}
					.green {
					    color: #24aa98;
					    margin-left: 10px;
					}
			    }
			    .active{
			    	color: #254f73;
			    }
		    }
		    .blue {
			    border-bottom: 3px solid #254f73;
			}
		}
	.menu-box {
		ul{
			li{
				width: 20%;
			}
		}
	}
	.menu-box-bigger{
		ul{
			li{
				width: 25%;
			}
		}
	}
}

/*========== end style chung =====*/ 
#careers_page,#contact_us,#term-conditions{
	display: block;
	clear: both;

	.banner-carrer {
		background: url('../../img/banner2.jpg') no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	    height: 562px;
	    border-top: 2px solid #5c5e5f;
	    text-align: center;
	}
	#content-wrap{
		max-width: 100%;
		font-weight: 300;
	    section{
	    	background: #fff;
    	
	    	.skeleton {
			    background: #fefefe;
			    
			    h1 {
				    padding-top: 70px;
				    font-size: 38px;
				    color: #254f73;
				    text-align: center;
				}
				.title {
				    font-size: 38px;
				    color: #254f73;
				    margin: 0;
				    margin-bottom: 40px;
				    text-align: center;
				    font-family: 'Roboto';
				    font-weight: 400;
				}
				.p {
				    color: #45403c;
				    font-size: 20px;
				    font-family: 'Roboto';
				    font-weight: 300;
				    line-height: 30px;
				    margin-bottom: 70px;
				    text-align: center;
				}
				.green_box {
				    background-color: #DFF0D8;
				    border-bottom: 3px solid #3C7865;
				    padding: 18px 12px 18px 19px;
				    text-align: center;
				    p{
				    	font-size: 22px;
					    color: #45403c;
					    margin-bottom: 0px;
					    text-align: center;
				    }
				}
				form {
				    display: block;
				    margin-top: 0em;
				    margin-bottom: 5em;
				    input {
				    	border-radius: 0;
				    	display: block;
					    border: none;
					    border-bottom: 2px solid #c2c2c2;
					    text-align: left;
					    width: 100%;
					    padding-bottom: 25px;
					    margin-bottom: 40px;
					    color: #525058;
					    font-size: 16px;
					    font-weight: normal;
					    margin:0;
					}
					.label {
					    color: #525058;
					}
					
					.color_diff{
						color: #a2a1a5;
					}
					::-webkit-input-placeholder {
					   color: #525058;
					}

					:-moz-placeholder { /* Firefox 18- */
					   color: #525058;  
					}

					::-moz-placeholder {  /* Firefox 19+ */
					   color: #525058;  
					}

					:-ms-input-placeholder {  
					   color: #525058;  
					}
					textarea {
						padding: 2px;
					    border: 2px solid #c2c2c2;
					    text-align: left;
					    width: 100%;
					    height: 184px;
					    margin-bottom: 24px;
					    margin-top: 25px;
					    color: #525058;
					    font-size: 16px;
					    resize: none;
					}
					span{
						font-size: 16px;
						font-weight: normal;
					}
				}
			}
			
			
			.contact_btn{
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
			    border: 2px solid #BCC5C0;
			    color: #254F73;
			    font-size: 17px;
			    font-weight: 400;
			    line-height: 41px;
			    margin: 38px auto 63px;
			    text-transform: uppercase;
			    width: 110px;
			    &:hover{
			    	background-color: #f0f3f1;
			    }
			}
			
			.top_page{
				p{
					cursor: pointer;
					color: #45403c;
					margin-bottom: 25px;
					&:hover,&:active{
					    color: #898697;
	    				text-decoration: underline;
					}
				}
			}
	    }
	    .top_page {
		    padding-top: 70px;
		    padding-bottom: 70px;
		    text-align: center;
		}
	}
}
/*=========== contact_us page ================*/

#contact_us,#term-conditions{
	// display: block;
	// clear: both;
	// position: relative;
	// text-align: center;
	.banner2 {
	    background: url('../../img/banner2.jpg') no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	    height: 562px;
	    border-top: 2px solid #5c5e5f;
	    text-align: center;
	}
	.skeleton{
		.office{
		    font-size: 22px;
		    color: #45403c;
		    margin-bottom: 40px;
		    text-align: center;
		}
		p{
			.hlink{
				cursor: pointer;
				color: #9aadde;
				&:hover,&:active{
				    color: #898697;
    				text-decoration: underline;
				}
			}
		}
	}
}
/*======== term-conditions ==========*/
#term-conditions{
	section{
		margin: 0!important	;
	}
	.faq_one{
		padding-top: 25px;
	    background: #fefefe;
		text-align: center;
		.title{
			font-size: 38px;
		    color: #254f73;
		   font-weight: 500;
		    margin-bottom: 25px;
		    text-transform: uppercase;
		}
		.faq-box{
			float: left;
			text-align: left;
			.faq-box-left{
				font-weight: lighter;
				width: 100%;
				border: 1px solid #eaeaea;
			    margin: 0 auto;
			    padding: 40px 30px;
			    margin-top: 35px;
			    h3{
			    	color: #45403c;
				    font-size: 22px;
				    margin: 0;
				    padding: 0;
			    }
			    p {
				    color: #898697;
				    line-height: 23px;
				    margin-top: 35px;
				    font-size: 15px;
				    span{
				    	font-weight: 300;
				    	color: #254f73;
					    strong{
					    	font-weight: 500;
					    }
				    }
				    .diff_lineheight{
				    	line-height: 40px;
				    }
				}
				.diff_margin{
					margin: 4px 0px 13px 0px;
				}
				ol{
					display: block;
				    list-style-type: decimal;
				    -webkit-margin-before: 1em;
				    -webkit-margin-after: 1em;
				    -webkit-margin-start: 0px;
				    -webkit-margin-end: 0px;
				    -webkit-padding-start: 40px;
					li{
						display: list-item;
						padding:0;
						border: 0;
						border-radius: none;

					}
				}
				.list_st_low{
					list-style-type:lower-roman;
				}

				span{
					font-size: 15px;
					color: #254f73;
					}
				.line_h_medium{
					line-height: 23px;
				}
				.line_h_best{
					line-height: 30px;
				}
			}
		}
	}
}
/*======= sign up==========*/

#profile{
	.profile_wear_page{
		.brand-box{
			background: #fff;
			.menu-box {
				.about {
					list-style-type: none;
				    margin: 0;
				    padding: 0;
				    background: #fefefe;
				    
					.blue {
					    border-bottom: 3px solid #254f73;
					    .active{
				    	    color: #254f73;
					    }
					}
				}
			}
			.page_one-box{
				text-align: center;
				.title-page {
				    padding-bottom: 0 !important;
				    color: #254f73;
				    font-size: 24px;
				    margin: 0;
				    padding-bottom: 35px;
				    padding-top: 50px;
				    font-weight: 400;
				    text-align: center;
				}
				.select-all {
				    text-align: center;
				    color: #898697;
				    font-size: 14px;
				    padding: 0;
				    margin-bottom: 50px;
				    margin-top: 10px;
				    text-transform: capitalize;
				    font-weight: bold;
				}
				.look_box {
				    width: 100%;
				    .fl{
				    	float: left;
				    	.box{
							// .check-blank{
							// 	right: 34px;
							// }
				    	}
				    }
				    .fr{
				    	float: right;
				    	.box{
				    		float: right!important;
				    		// .image_left{
				    		// 	 margin-left: 23px;
				    		// 	 margin-right: 0 !important;
				    		// }
				   //  		.check-blank{
							// 	right: 15px;
							// }
				    	}
				    }
				    .box-leftside{
				    	
				    }
				    .box-rightside{
				    	
				    }
				    .thumb-info {
						.box{
							 margin-bottom: 22px;
							 position: relative;
							    
						    .image_left{
						    	width: 100%;
						    	background: none repeat scroll 0 0 #f1f1f1;
							    float: left;
							    padding: 3px;
							    img {
								    width: 100%;
								    //height: 220px;
								}
							}
							.check-blank {
							    background: #fff;
							    border: 2px solid #a2a1a6;
							    width: 19px;
							    height: 19px;
							    position: absolute;
							    text-align: center;
							    bottom: 19px;
							    right: 32px;
							}
							.check-one {
							    background: none repeat scroll 0 0 #6b8ad1;
							    color: #fff;
							    height: 19px !important;
							    line-height: 19px !important;
							    padding: 2px;
							    position: absolute;
							    bottom: 19px;
							    text-align: center;
							    width: 19px !important;
							    cursor: pointer;
							    left: 32px;
							}
							.fa{
								line-height: 23px;
								&:before{
								    position: absolute;
								    content: "\f00c";
								    right: 3px;
								    top: 0px;
								}
							}
						}
					}
					h1 {
						    text-align: center;
						    color: #898697;
						    font-size: 16px;
						    padding: 0;
						    margin-bottom: 20px;
						}
				    .left_look{
						box-sizing: border-box;
						
					}
					.right_look{
						box-sizing: border-box;
					}
			    .mynext {
				    border-bottom: 2px solid #214666;
				    
				}
			    
				.next{
					a{
						color: #fff;
					}
				}	
				}
				
			}
			
		}
	}
}

/*======= #profile-you-page ======*/
#profile-you-page{
	float:none;
	.brand-box{
		background: #fff;
		// .menu-box {

		// 		ul {
		// 		    list-style-type: none;
		// 		    margin: 0;
		// 		    padding: 0;
		// 		    li{
		// 		    	width: 20%;
		// 		    	text-align: center;
		// 		    	float: left;
		// 			    padding: 50px 0px 18px 0px;
		// 			    border-bottom: 2px solid #d5d8da;
		// 			    a{
		// 			    	color: #c4c8ca;
		//     				font-size: 14px;
		//     				&:active{

		//     				}
		//     				.green {
		// 					    color: #24aa98;
		// 					    margin-left: 10px;
		// 					}
		// 			    }
		// 			    .active{
		// 			    	color: #254f73;
		// 			    }
		// 		    }
		// 		.blue {
		// 		    border-bottom: 2px solid #254f73;
		// 		}
		// 	}
		// }
		.page_one-box{
			h1 {
			    color: #254f73;
			    font-size: 24px;
			    font-weight: 400;
			    margin: 0;
			    padding-bottom: 35px;
			    padding-top: 50px;
			    text-align: center;
			}
		}
	}
	.about_box{
		background: #fff;
		.about_block{
			h2 {
			    font-size: 13px;
			    color: #898697;
			    width: 240px;
			    padding: 0;
			    float: left;
			    margin: 0;
			    margin-top: 50px;
			}
			.lb {
			    margin-right: 10px;
			}
			.lb_unit {
			    float: left;
			    line-height: 110px;
			    font-size: 14px;
			    width: 30px;
			}
			
			.right_sb{
				padding-left: 0;
			}
		}
		.line-bar {
		    float: left;
		    margin-top: 20px;
		    width: 80%;
		    .ranger{
		    	margin-top: -3px;
		    	.irs-bar-edge{
		    		background: #6B8AD1;
		    	}
		    	.irs-bar{
					background: #6B8AD1;
				}
		    	.irs-slider {
				    background: none;
				    top: 19px;
				    width: 35px;
				    height: 35px;
				    background-color: #254f73;
				}
		    }
		}
		.body_shape{
			.about_img {
			    width:33.3333%;
			    float: left;
			    margin-top: 10px;
			    padding: 2px;
			    padding-right: 60px;
			    position: relative;
			    img {
				    width: 70px;
				    height: 205px;
				}
			}
			.checkbox_wrap {
			    border: 1px solid #e6e8eb;
			    padding: 5px 0px;
			    position: relative;
			    .body_shape_name {
				    color: #000;
				    font-weight: 400;
				    font-size: 14px;
				    text-align: center;
				}
				.check-blank1 {
				    margin-top: -20px;
				    margin-left: 143px;
				}
				.check-one1 {
				    margin-top: -20px;
				}
				p{
					margin-bottom: 0;
				}
			}
		}
		.skin_tone {

			.about_img {
				float: left;
			    margin-top: 10px;
			    padding: 2px;
			    margin-right: 45px;
			    position: relative;
				.wrap_img{
					position: relative;
				    img{
				    	width: 70px;
				    }
				}
			}
		}
	}
	.about_block{
		float: left;
	    width: 100%;
	    border-top: 1px solid #eeeeee;
	    clear: both;
	}
	.check-blank1 {
	    background: #fff;
	    border: 2px solid #a2a1a6;
	    height: 19px;
	   	bottom: 6px;
    	right: 8px;
	    position: absolute;
	    text-align: center;
	    width: 19px;
	}
	.check-one1 {
	    background: none repeat scroll 0 0 #6b8ad1;
	    left: 8px;
	    bottom: 6px;
	    padding: 2px;
	    position: absolute;
	    text-align: center;
	    color: #fff;
	}
	
	.lb{
		width: 70px;
		height: 40px;
	    line-height: 36px;
	    background: #fff;
	    border: 2px solid #c6ccd2;
	    float: left;
	    font-size: 14px;
	    color: #383737;
	    text-align: center;
	    margin-right: 28px;
	    font-family: 'MyriadPro-Regular';
	    margin-top: 36px;
	}
	#heightSliderValue {
	    margin-right: 0;
	    width: 25px;
	}
	.point-char {
	    float: left;
	    font-weight: bold;
	    margin: 47px 5px 0;
	}
	#heightSliderValueInch {
	    margin-right: 10px;
	    width: 25px;
	}
}

/*========= size page =====*/

#size_profile{
	.brand-box{
		background: #fff;
		h1{
			color: #254f73;
		    font-size: 24px;
		    margin: 0;
		    padding-bottom: 50px;
		    padding-top: 45px;
		    text-align: center;
			//font-weight: lighter;
			font-weight: 400;
		}
	}
	form{
		background: #fff;
		display: block;
    	margin-top: 0em;
		.size_box{
			// height: 121px;
		    border-top: 1px solid #eeeeee;
		    border-bottom: 1px solid #eeeeee;
		    .dropdown-menu_size{
		    	padding: 0 50px;
				margin-top: 40px;
			    .select_style{
			    	margin-bottom: 33px;
			    	padding: 0 15px;
			    	display: block;
			    	float: left;
			    }
			    .dd-container {
			    	margin-right: 21px;
				    .dd-select {
				    	border-radius:0; 
					    border: solid 1px #ccc;
					    position: relative;
					    cursor: pointer;
					    .dd-selected-text {
							font-weight: normal;
						}
						.dd-pointer-up {
						    border: solid 5px transparent !important;
						    border-bottom: solid 5px #000 !important;
						    margin-top: -8px;
						}
					}
					.dd-options {
					    border: solid 1px #b1b0b0;
					    border-top: none;
					    list-style: none;
					    box-shadow: 0px 1px 5px #ddd;
					    display: none;
					    position: absolute;
					    z-index: 20;
					    margin: 0;
					    padding: 0;
					    background: #c2c0c0;
					    overflow: auto;
					    
						.dd-option {
							font-weight: 300;
						    padding: 10px;
						    display: block;
						    border-bottom: solid 1px #ddd;
						    overflow: hidden;
						    text-decoration: none;
						    color: #fff;
						    cursor: pointer;
						    -webkit-transition: all 0.25s ease-in-out;
						    -moz-transition: all 0.25s ease-in-out;
						    -o-transition: all 0.25s ease-in-out;
						    -ms-transition: all 0.25s ease-in-out;
						    &:hover {
							    background: #cac9c9;
							    color: #fff;
							}
							label{
								font-weight: 300;
							}
						}
						.dd-option-selected {
						    background: #c2c0c0 url("/img/req2c-tick_03.jpg") no-repeat right 5% center;
						    &:hover {
							    background: #cac9c9 url("/img/req2c-tick_03.jpg") no-repeat right 5% center;
							}
						}
					}
				}
			}
			.text_box {
			    // margin: 0 auto;
			    // width: 980px;
			    display:block;
			    .text-input {
			    	input {
						width: 100%;
					    height: 38px;
					}
				}
			}
			
		}

		
	}
}
/* =========== end size page =======*/


/* ===========  login page =======*/

#login-page{
	.topnavi{
		background: #fff;
		.register_box {
			width: 70%;
			margin: 0 auto;
			.register_page{
				text-align: center;
		    	padding: 0;
			    list-style-type: none;
			    li{
			    	width: 50%;
			    	display: block;
			    	float: left;
				    border-bottom: 2px solid #d5d8da;
				    padding: 50px 0 18px;
				    margin-bottom: 38px;
				    a{
				    	color: #959595;
				    }
				    .active {
					    color: #254f73;
					}
			    }
			    .blue {
				    border-bottom: 2px solid #254f73;
				}
		    }
		    
		}
		.form {
		    text-align: center;
		    padding-bottom: 80px;
		    label{
		    	cursor: pointer;
		    	font-weight: 300;
		    }
		    .input-text1 {
			    height: 48px;
			    border: 1px solid #e2e2e2;
			    margin-top: 19px;
			    margin-bottom: 29px;
			    padding: 0 15px 0 15px;
			    line-height: 48px;
			}
			.hideShowPassword-wrapper{
				width: 100%!important;
				.hideShowPassword-toggle{
					&:focus{
						border: none;
					}
				}
			}
			.hideShowPassword-field {
			    margin-top: 19px !important;
			    margin-bottom: 29px !important;
			}
			.remember {
				float: left;
				border-radius: 8px;
				height: 30px !important;
				line-height: 30px !important;
				position: relative;
				text-align: center;
				cursor: pointer;
				color: #525058;
				input[type="checkbox"] {
					cursor: pointer;
				    opacity: 0;
				    position: absolute;
				    top: 3px;
				    left: 7px;
				    z-index: 9;
				}
				label{
					.fa-stack {
					    position: relative;
					    display: inline-block;
					    width: 2em;
					    height: 2em;
					    line-height: 2em;
					    vertical-align: middle;
					}
				}
				input[type="checkbox"] + label {
					.fa-square-o {
					    font-size: 25px;
					}
					.fa-check-square {
					    display: none;
					    font-size: 25px;
					}
				}
				input[type="checkbox"]:checked + label { 
					.fa-check-square {
					    position: relative;
				        display: block;
    					color: #254f73;
					}
				}		
			}
			.remember1 {
				line-height: 30px;
			    width: 50%;
			    text-align: right;
			    color: #525058;
			     a {
				    color: #525058 !important;
				}
			}
			.signup {
			    color: #254F7D;
			    font-weight: bold;
			    border: 2px solid #bcc5c0;
			    margin: 38px auto 63px;
			    width: 70%;
			    line-height: 41px;
			    text-transform: uppercase;
			    background: none;
			    padding: 10px;
			    font-size: 17px;
			    font-weight: 400;
			    &:hover{
					background: #F0F4F7;
					border-color: #F0F4F7;
				    box-shadow: 0px 2px 3px #888888;
			    }
			}
			.fb {
			    width: 70%;
			    margin: 0 auto;
			    // div {
       //              background: url("http://elnove.ocoder/img/line.png");
				   //  height: 2px;
				   //  display: inline-block;
				   //  width: 100%;
				   // // margin-bottom: 3px;
       //          }
				p {
					position: relative;
					z-index: 1;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #898697;
                    // display: inline-block;
                    width: 100%;
                    &:before{
                    	border-top: 3px solid #dfdfdf;
				        content:"";
				        margin: 0 auto; /* this centers the line to the full width specified */
				        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
				        top: 50%; left: 0; right: 0; bottom: 0;
				        width: 100%;
				        z-index: -1;
                    }
                    &:after{

                    }
                    span{
                    	background: #fff; 
        				padding: 0 15px; 
                    }
                }
			}
			.facebook_btn {
			    background: none repeat scroll 0 0 #F0F4F7;
			    border: medium none;
			    color: #415b97;
			    line-height: 43px;
			    margin: 38px auto 0;
			    width: 70%;
			     i {
				    color: #415b97;
				    font-size: 25px;
				    margin-right: 28px;
				    margin-top: 10px;
				}
				&:hover {
				    background-color: #F0F4F7;
			        box-shadow: 0px 2px 3px #888888;
				}
			}	
		}
		#loginForm {
			.input-text1 {
			    width: 100%;
			    padding: 0 5% !important;
			}
		}
	}
	
}

/* =========== end login page =======*/

/*============ detail page ==========*/
#detail_page{
	padding-top:40px;
	padding-bottom:100px;
	.modal_body_left {
	        text-align: right;
	        padding-right: 50px;
	    }
	    .modal_body_right {
	        padding-left: 50px;
	        .modal_name_item {
	            font-size: 20px;
	            color: #444444;
	            margin-bottom: 5px;
	        }
	        .modal_brand_item {
	            font-size: 17px;
	            color: #9e9e9e;
	            margin-bottom: 20px;
	        }
	        .modal_price_item {
	            font-size: 20px;
	            color: #33648d;
	            margin-bottom: 30px;
	        }
	        .modal_buy_product {
	            margin-bottom: 30px;
	            span {
	                width: 60%;
	                font-size: 15px;
	            }
	            i {
	                vertical-align: middle;
	                margin-left: 30px;
	                color: #8e8e8e;
	            }
	            .fa-heart-o:before {
	                font-size: 25px;
	            }
	        }
	        .modal_alert_detail {
	            color: #444444;
	            font-size: 16px;
	        }
	        .modal_alert_detail_atb {
	            margin-bottom: 0;
	            font-size: 14px;
	            color: #9e9e9e;
	        }
	        .modal_body_icon_link {
	            color: #d5d8da;
	            font-size: 20px;
	            padding: 15px 0px;
	            border-top: 2px solid #d5d8da;
	            border-bottom: 2px solid #d5d8da;
	            width: 59%;
	            margin: 25px 0px;
	            a {
	                color: #d5d8da;
	                .fa {
	                    padding-right: 30px;
	                }
	                .fa_final {
	                    padding-right: 0px;
	                }
	            }
	        }
	        .modal_body_footer {
	            cursor: pointer;
	            i {
	                margin-right: 10px;
	                font-size: 20px;
	                opacity: 0.7;
	            }
	            span {
	                font-size: 16px;
	                color: #444444;
	            }
	        }
	        ul{
	            li{
	                margin-bottom: 0;
	                font-size: 14px;
	                color: #9e9e9e;
	            }
	        }
	    }
 }
/*============ end detail page ==========*/
@media (min-width:768px){
	
	.form-group{
			display: none;
		}
	#profile {
		.left_look{
			padding-left: 0;
			padding-right: 30px;
		}
		.right_look{
			padding-left: 30px;
			padding-right: 0;
		}
		
	}

	#profile-you-page{
		
			.about_block{
				padding: 40px 0 40px 98px;
				.right_sb{
					.line-bar{
						.ranger{
							.irs-slider{
								top: 28px;
							    width: 20px;
							    height: 20px;
							}
						}
					}
				}
			}
		
	}    

}
@media (min-width: 992px){
	.brand-box{
		padding: 0 65px;
	}
	.dropdown-menu_size{
		.select_style{
			width:20%;
		}
	}
	
}
@media (max-width:991px){
	.brand-box{
		padding: 0 15px;
		ul{
			li{
				a{
					font-size: 13px;
				}
			}
		}
	}
	.dropdown-menu_size{
		.select_style{
			width:100%;
		}
	}
	#detail_page{
	
		.modal_body_right {
	    	.modal_body_icon_link {
	            width: 100%;
	        }
	    }
	}
}
@media (min-width: 320px) and (max-width:767px){
	.brand-box{
		padding: 15px;

	}
	.menu-box {
			display: none;
		}
	#term-conditions{
		.faq_one {
			.title{
				font-size: 32px;
			}
		}
	}
	#profile {
		.left_look{
			padding-left: 0;
			padding-right: 0;
		}
		.right_look{
			padding-left: 0;
			padding-right: 0;
		}
		
		
	}
	#profile-you-page{
		.about_box{
			.about_block{
				padding: 15px 0;
				h2{
					width: 100%;
				}
				#box_weight{
					width: 100%;
					padding-right:0;
					.box_left{
						display: block;
						width: 110px;
						float: none;
					}
					.box_right{
						display: block;
						float: none;
					}
				}
				#box_height{
					padding-right:0;
				}
				.left_sb{
					text-align: center;
				}
				.right_sb{
					// padding-right: 0;
					text-align: center;
					.about_img{
						text-align: center;
					}
					.line-bar{
						width: 68%;
						.ranger{
							.irs{
								.irs-bar-edge{
									width: 18px;
								}
							}
						}	
					}
				}
			}
			

		}
		#listBODYSHAPE{
			.right_sb{
				.about_img {
					width: 50%;
					padding-right: 40px;
				}
			}
		}
		
	}
	#login-page {
		.topnavi {
			.register_box {
				padding-left: 15px;
				padding-right: 15px;
			    width: 100%;
			    margin: 0 auto;
			}
		}
	}
	#detail_page{
	
		.modal_body_left {
	        text-align: center;
	        padding-right: 0px;
	        img{
	        	margin: 0 auto;
	        }
	    }
	    .modal_body_right {
	    	padding-top: 30px;
	    	text-align: center;
	        padding-left: 0px;
	        padding-right: 0px;
	        .modal_body_icon_link {
	            width: 100%;
	            
	        }
	    }
	 }
	 #profile-you-page {
	 	.about_box {
	 		.line-bar {
	 			.content {
	 				.ui-slider-horizontal {
	 					.ui-slider-handle{
	 						width: 1.6em;
	 						height: 1.6em;
							margin-left: 0;
    						top: -0.7em;
	 					}
 					}
 				}
			}	
	 	}
	}
}
@media (min-width: 481px) and (max-width:767px){
	#profile-you-page{
		.about_box{
			.skin_tone{
				.right_sb{
					padding-right: 0;
					padding-left: 20px;
					text-align: center;
					.about_img{
							text-align: center;
							.wrap_img{
						}
					}
					
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width:480px){
	#profile-you-page{
		
		#listBODYSHAPE{
			.right_sb{
				.about_img {
					text-align: center;
					width: 100%;
					padding-left: 40px;
					padding-right: 30px;
					img{
						margin: 0 auto;
					}
				}
			}
		}
		
	}
	#profile-you-page{
		.about_box{
			.about_block{
				.right_sb{
					padding-left: 0px;
				}
			}
				.right_sb{
					padding-left: 0;
					.line-bar{
						width: 59% !important;
						.ranger{
							
						}
					}
					
				}
				.skin-tone{

					.about_img{
						width: 30%;
						margin:0 3px;
						.wrap_img{
							margin:0 auto;
							width: 70px;
							position: relative;
						}	
					}
					
					
				}
			}
		}
		
		#login-page {
			.topnavi {
				.form {
					.signup{
						width:100%;
					}
					.fb{
						width: 100%;
						p{
							span{
								font-size: 12px;
							}
						}
					}
					.facebook_btn{
						width: 100%;
					}
				}
			}
		}
}