#careers_page{
	display: block;
	clear: both;

	.banner-carrer {
		background: url('../../img/banner2.jpg') no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	    height: 562px;
	    border-top: 2px solid #5c5e5f;
	    text-align: center;
	}
	.container{
		max-width: 100%;
		width: 1110px;
		margin: 0 auto;
    	background: #fff;
    	font-weight: 300;
	    margin: -480px auto 0;
	    section{
	    	.skeleton {
			    background: #fefefe;
			    margin: 0 auto;
			    width: 771px;
			    padding-bottom: 85px;
			    h1 {
				    padding-top: 70px;
				    margin-bottom: 40px;
				    font-size: 38px;
				    color: #254f73;
				    text-align: center;
				}
				.title {
				    font-size: 30px;
				    color: #254f73;
				    margin: 0;
				    margin-bottom: 40px;
				    padding: 0;
				    text-align: center;
				    font-family: 'Roboto';
				    font-weight: 300;
				}
				.p {
				    color: #45403c;
				    font-size: 20px;
				    font-family: 'Roboto';
				    font-weight: 300;
				    line-height: 30px;
				    margin-bottom: 70px;
				    text-align: center;
				}
				form {
				    display: block;
				    margin-top: 0em;
				    input {
				    	display: block;
					    border: none;
					    border-bottom: 2px solid #c2c2c2;
					    text-align: left;
					    width: 771px;
					    padding-bottom: 25px;
					    margin-bottom: 40px;
					    color: #525058;
					    font-size: 16px;
					    margin:0;
					}
					.label {
					    color: #525058 !important;
					}
				}
			}
			textarea {
			    border: 2px solid #c2c2c2;
			    text-align: left;
			    width: 767px;
			    height: 184px;
			    margin-bottom: 24px;
			    margin-top: 25px;
			    color: #525058;
			    font-size: 16px;
			    resize: none;
			}
			.fr {
			    float: right !important;
			}
			.contact_btn{
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
			    border: 2px solid #BCC5C0;
			    color: #254F73;
			    font-size: 17px;
			    font-weight: bold;
			    line-height: 41px;
			    margin: 38px auto 63px;
			    text-transform: uppercase;
			    width: 110px;
			}
			.clr {
			    clear: both;
			}
	    }
	    .top_page {
		    padding-top: 70px;
		    text-align: center;
		}
	}
}