@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Regular.otf);
}
#banner {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 700px;
	background: url(../images/headerimagedesktop.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#banner .banner-content {
	padding-top: 230px;
	padding-left: 95px;
    text-align: center;
    color: white;
}
#banner .banner-content h2 {
	font-size: 43px;
    margin-top: 0px;
}
#banner .banner-content p {
	font-size: 27px;
}
#banner .banner-content span {
	color: #264B6A;
	font-weight: bold;
	border-radius: 0px;
	font-family: MyriadPro;
	font-size: 14px;
    padding: 14px 71px;
    margin-top: 10px;
}
#banner .banner-content span:hover {
	background: #F0F4F7
}
@media (min-width:380px)and(max-width:480px) {
  	#banner {
		width: 100%;
		height:500px;
		background: url(../images/headerimagemobile.jpg) no-repeat;
		background-size:cover;
  	}
  	#banner .banner-content {
		padding-top: 180px;
		padding-left: 20px;
	    text-align: center;
	    color: white;
	}
	#banner .banner-content h2 {
		font-size: 25px;
	}
	#banner .banner-content p {
		font-size: 16px;
	}
	#banner .banner-content span {
		font-size: 12px;
	    padding: 3% 14%;
	}
}