#fre_ask_question_page{
	.banner2{
	background: url('../../img/banner2.jpg') no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    height: 562px;
    border-top: 2px solid #5c5e5f;
    text-align: center;
    margin-left:-15px;
    margin-right:-15px;
    }
.faq_one {
    padding-top: 25px;
    padding-left: 65px;
    padding-right: 35px;
    background: #fefefe;
    
    			 h1 {
					 font-size: 38px;
					 color: #254f73;
					 font-family: 'MyriadPro-Regular';
					 margin-bottom: 25px;
					 text-transform: uppercase;
					}
		.title {
			font-size: 30px;
			color: #254f73;
			margin: 0;
			margin-bottom: 40px;
			padding: 0;
			text-align: center;
			font-family: 'Roboto-Light';
						    
		       }
		.faq-box-right{

					float: right;    
				    padding-top: 35px;
				    max-width: 100%;	
						h1 {
						    color: #6b8ad1;
						    font-size: 20px;
						    font-family: 'Roboto-Light';
						    margin: 0;
						    padding: 0;
						    margin-bottom: 15px;
		                   }
					.topic p{
							
								font-size: 14px;
							    color: #162f45;	
						   }
					  }
			
				
					
		.faq-box-left{
				        float:left;
					    border: 1px solid #eaeaea;
					    margin: 0 auto;
					    padding: 40px 30px;
					    margin-top: 35px;
								h3 {
								    color: #45403c;
								    font-size: 22px;
								    font-family: 'Roboto-Light';
								    margin: 0;
								    padding: 0;
								   }
								 p {
								    color: #898697;
								    line-height: 20px;
								    margin-top: 35px;
								   }
					 } 
			      
}

.top_page {
    padding-top: 70px;
    text-align: center;
    p{
    	font-size: 15px;
        color: #898697;
        padding: 0;
        margin: 0;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
.div {
    padding-bottom: 70px;
}
.clr{
	clear: both;
}

body {
   
    font-family: 'Roboto';
    font-weight: 300;
    }
}
@media (min-width: 768px) and (max-width:992px){
	#fre_ask_question_page{
		.faq_one {
			padding-right: 70px;
			padding-left: 70px;
			 .faq-box-right {
			 	max-width: 100% !important;
			 	.topic{
			 		text-align: center;
			 	}
			 	h1{
			 		padding-left: 15px;
			 		text-align: left;
			 	}
			 }
		}
	}

}
@media (min-width: 320px) and (max-width:767px){
	#fre_ask_question_page{
		.faq_one {
			padding-right: 0;
			padding-left: 0;
			 .faq-box-right {
			 	max-width: 100% !important;
			 	.topic{
			 		text-align: center;
			 	}
			 	h1{
			 		text-align: center;
			 	}
			 }
		}
	}
}
